body {
  font-family: var(--default-font);
  color: var(--white-color);
  background-color: var(--black-color);
  min-height: 100vh;
  position: relative;
  padding-bottom: 30px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
