.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

  @media screen and (min-width: var(--mobile-min)) {
    width: 100%;
  }

  @media screen and (min-width: var(--mobile-max)) {
    max-width: 480px;
  }

  @media screen and (min-width: var(--tablet)) {
    max-width: 650px;
  }

  @media screen and (min-width: var(--desktop)) {
    max-width: 986px;
  }
}
