@import './base/modern-normalize';
@import './utils/variables';
@import './base/common';
@import './base/container';
@import './layouts/header';
@import './layouts/hero';
@import './layouts/footer';
@import './layouts/grid';
@import './layouts/modal';
@import './layouts/modal-team';
@import './layouts/material-icons';
@import './layouts/loader';
@import './layouts/background';
@import './layouts/animation-title';
@import './components/modal-button';
@import './components/modal-images';
@import './components/modal-text';
