:root {
  --default-font: "Montserrat", sans-serif;

  //breakpoints for media
  --mobile-min: 320px;
  --mobile-max: 480px;
  --tablet: 768px;
  --desktop: 1280px;

  //background
  --black-color: #0E0E0E; // ...color for text in modal!!!
  --search-field-bg-color: rgba(255, 255, 255, 0.2);
  --modal-bg-color:#FFF2FD;

  //color
  --pink-color:#DC56C5; //border for button 'MORE FROM THIS AUTHOR' in hover  (tablet version)
  --white-color:#FFFFFF;
  --grey-color: #939393;
  --red-color:#D53333;

  //button 
  --btn-color: #4C00FE;//hover???? color


  // for animation (timing + timing-function)
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

