:root {
  --default-font: 'Montserrat', sans-serif;

  //background
  --black-color: #0e0e0e; // ...color for text in modal!!!
  --search-field-bg-color: rgba(255, 255, 255, 0.2);
  --modal-bg-color: #fff2fd;
  --backdrop-color: rgba(32, 13, 29, 0.6);

  //color
  --pink-color: #dc56c5; //border for button 'MORE FROM THIS AUTHOR' in hover  (tablet version)
  --white-color: #ffffff;
  --grey-color: #939393;
  --red-color: #d53333;

  //button
  --btn-color: #4c00fe; //hover???? color

  // for animation (timing + timing-function)
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --grid-item: 3;
}
