<header class="header">
  <a class="logo-link" href="#">
    <svg class="logo-link__icon" width="110" height="90">
      <use href="./images/icons/icons-sprite.svg#logo-mobile"></use>
    </svg>
  </a>
</header>
<section class="hero container">
  <div class="box">
    <h1 class="glitch">find best events<span class="hero__title--part">around the world</span></span></h1>
  </div>
  <form action="" class="search-form" id="js-form">
    <div class="form-input">
      <input
        type="text"
        name="query"
        id="js-input"
        class="input-search"
        placeholder="Start searching"
        autocomplete="off"
      />
      <button>
        <svg class="input-search__icon" width="13" height="13">
          <use href="./images/icons/icons-sprite.svg#search-icon"></use>
        </svg>
      </button>
    </div>

    <div class="custom-select">
      <select name="select" id="js-select" class="select-country">
        <option class="option__decor disabled" selected disabled>Choose country</option>
        <option class="option__decor disabled" disabled>___________________________</option>
        <option class="option" value="US">USA</option>
        <option class="option" value="AD">Andorra</option>
        <option class="option" value="AI">Anguilla</option>
        <option class="option" value="AR">Argentina</option>
        <option class="option" value="AU">Australia</option>
        <option class="option" value="AT">Austria</option>
        <option class="option" value="AZ">Azerbaijan</option>
        <option class="option" value="BS">Bahamas</option>
        <option class="option" value="BH">Bahrain</option>
        <option class="option" value="BB">Barbados</option>
        <option class="option" value="BE">Belgium</option>
        <option class="option" value="BM">Bermuda</option>
        <option class="option" value="BR">Brazil</option>
        <option class="option" value="BG">Bulgaria</option>
        <option class="option" value="CA">Canada</option>
        <option class="option" value="CL">Chile</option>
        <option class="option" value="CN">China</option>
        <option class="option" value="CO">Colombia</option>
        <option class="option" value="CR">Costa Rica</option>
        <option class="option" value="HR">Croatia</option>
        <option class="option" value="CY">Cyprus</option>
        <option class="option" value="CZ">Czech Republic</option>
        <option class="option" value="DK">Denmark</option>
        <option class="option" value="DO">Dominican Republic</option>
        <option class="option" value="EC">Ecuador</option>
        <option class="option" value="EE">Estonia</option>
        <option class="option" value="FO">Faroe Islands</option>
        <option class="option" value="FI">Finland</option>
        <option class="option" value="FR">France</option>
        <option class="option" value="GE">Georgia</option>
        <option class="option" value="DE">Germany</option>
        <option class="option" value="GH">Ghana</option>
        <option class="option" value="GI">Gibraltar</option>
        <option class="option" value="GB">Great Britain</option>
        <option class="option" value="GR">Greece</option>
        <option class="option" value="HK">Hong Kong</option>
        <option class="option" value="HU">Hungary</option>
        <option class="option" value="IS">Iceland</option>
        <option class="option" value="IN">India</option>
        <option class="option" value="IE">Ireland</option>
        <option class="option" value="IL">Israel</option>
        <option class="option" value="IT">Italy</option>
        <option class="option" value="JM">Jamaica</option>
        <option class="option" value="JP">Japan</option>
        <option class="option" value="KR">Korea</option>
        <option class="option" value="LV">Latvia</option>
        <option class="option" value="LB">Lebanon</option>
        <option class="option" value="LT">Lithuania</option>
        <option class="option" value="LU">Luxembourg</option>
        <option class="option" value="MY">Malaysia</option>
        <option class="option" value="MT">Malta</option>
        <option class="option" value="MX">Mexico</option>
        <option class="option" value="MC">Monaco</option>
        <option class="option" value="ME">Montenegro</option>
        <option class="option" value="MA">Morocco</option>
        <option class="option" value="NL">Netherlands</option>
        <option class="option" value="AN">Netherlands Antilles</option>
        <option class="option" value="NZ">New Zealand</option>
        <option class="option" value="ND">Northern Ireland</option>
        <option class="option" value="NO">Norway</option>
        <option class="option" value="PE">Peru</option>
        <option class="option" value="PL">Poland</option>
        <option class="option" value="PT">Portugal</option>
        <option class="option" value="RO">Romania</option>
        <option class="option" value="RU">Russian Federation</option>
        <option class="option" value="LC">Saint Lucia</option>
        <option class="option" value="SA">Saudi Arabia</option>
        <option class="option" value="RS">Serbia</option>
        <option class="option" value="SG">Singapore</option>
        <option class="option" value="SK">Slovakia</option>
        <option class="option" value="SI">Slovenia</option>
        <option class="option" value="ZA">South Africa</option>
        <option class="option" value="ES">Spain</option>
        <option class="option" value="CH">Switzerland</option>
        <option class="option" value="TW">Taiwan</option>
        <option class="option" value="TH">Thailand</option>
        <option class="option" value="TT">Trinidad and Tobago</option>
        <option class="option" value="TR">Turkey</option>
        <option class="option" value="UA">Ukraine</option>
        <option class="option" value="AE">United Arab Emirates</option>
        <option class="option" value="UY">Uruguay</option>
        <option class="option" value="VE">Venezuela</option>
      </select>
      <!-- <svg class="input-search__country" width="15" height="10">
        <use href="./images/icons/icons-sprite.svg#search"></use>
      </svg> -->
      <!-- <label class="select-label" for="js-select"></label> -->
    </div>
  </form>
</section>
