<section class="main">
    <!-- <div class="main-grid"> -->
        <ul class="main-list">
            <li class="main-item">
                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p>
            </li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
            <li class="main-item">                <img class="main-poster" src="" alt="">
                <h2 class="main-name">LP</h2>
                <p class="main-date">2021-07-27</p>
                <p class="main-location">Palace of Ukraine</p></li>
        </ul>
    <!-- </div> -->
</section>