<div class="modal-team__backdrop is-close" data-modal>
  <div class="modal-team modal">
    <button class="modal__btn" type="button" data-modal-close>
      <span class="modal__close-button modal__close-button--team-width"> </span>
    </button>
    <div class="modal-team__container">
      <h2 class="modal-team__title">development team</h2>
      <ul class="modal-team__list grid">
        <li class="modal-team__item">
          <div class="modal-team__card grid__item">
            <img
              class="modal-team__img"
              src="./images/team-images/Anton.jpg"
              alt=""
              width="160"
              height="200"
            />
            <div class="modal-team__about">
              <h3 class="modal-team__name">Anton <span> Kashnykov</span></h3>
              <!-- <p class="modal-team__position">Team lead</p> -->
              <a
                aria-label="github"
                class="modal-team__position"
                href="https://github.com/KashnykovAnton"
                target="_blank"
                rel="noopener noreferrer"
              >
                Team lead
                <svg class="modal-team__git-link" width="17" height="17">
                  <use href="./images/icons/icons-sprite.svg#git"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="modal-team__card grid__item">
            <img
              class="modal-team__img"
              src="./images/team-images/Anastasiia.png"
              alt=""
              width="150"
              height="150"
            />
            <div class="modal-team__about">
              <h3 class="modal-team__name">Anastasiya <span> Baranouskaya </span></h3>
              <a
                aria-label="github"
                class="modal-team__position"
                href="https://github.com/Anastasiya-Baranouskaya"
                target="_blank"
                rel="noopener noreferrer"
              >
                Scrum master
                <svg class="modal-team__git-link" width="17" height="17">
                  <use href="./images/icons/icons-sprite.svg#git"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="modal-team__card grid__item">
            <img
              class="modal-team__img"
              src="./images/team-images/Vitalii.jpg"
              alt=""
              width="150"
              height="150"
            />
            <div class="modal-team__about">
              <h3 class="modal-team__name">Vitalii <span>Pikozh</span></h3>
              <a
                aria-label="github"
                class="modal-team__position"
                href="https://github.com/VitalyyP"
                target="_blank"
                rel="noopener noreferrer"
              >
                Developer
                <svg class="modal-team__git-link" width="17" height="17">
                  <use href="./images/icons/icons-sprite.svg#git"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="modal-team__card grid__item">
            <img
              class="modal-team__img"
              src="./images/team-images/Oksana.jpg"
              alt=""
              width="150"
              height="150"
            />
            <div class="modal-team__about">
              <h3 class="modal-team__name">Oksana<span>Davydova</span></h3>
              <a
                aria-label="github"
                class="modal-team__position"
                href="https://github.com/OksiDavydova"
                target="_blank"
                rel="noopener noreferrer"
              >
                Developer
                <svg class="modal-team__git-link" width="17" height="17">
                  <use href="./images/icons/icons-sprite.svg#git"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="modal-team__card grid__item">
            <img
              class="modal-team__img"
              src="./images/team-images/Andi.jpg"
              alt=""
              width="150"
              height="150"
            />
            <div class="modal-team__about">
              <h3 class="modal-team__name">Andrii <span>Konovalov</span></h3>
              <a
                aria-label="github"
                class="modal-team__position"
                href="https://github.com/andysmokk"
                target="_blank"
                rel="noopener noreferrer"
              >
                Developer
                <svg class="modal-team__git-link" width="17" height="17">
                  <use href="./images/icons/icons-sprite.svg#git"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="modal-team__card grid__item">
            <img
              class="modal-team__img"
              src="./images/team-images/Vlad.jpg"
              alt=""
              width="150"
              height="150"
            />
            <div class="modal-team__about">
              <h3 class="modal-team__name">Vladyslav <span>Sarbash</span></h3>
              <a
                aria-label="github"
                class="modal-team__position"
                href="https://github.com/VladyslavSarbash"
                target="_blank"
                rel="noopener noreferrer"
              >
                Developer
                <svg class="modal-team__git-link" width="17" height="17">
                  <use href="./images/icons/icons-sprite.svg#git"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="modal-team__card grid__item">
            <img
              class="modal-team__img"
              src="./images/team-images/Dmytro.jpg"
              alt=""
              width="150"
              height="150"
            />
            <div class="modal-team__about">
              <h3 class="modal-team__name">Dmytro <span>Lysenko</span></h3>
              <a
                aria-label="github"
                class="modal-team__position"
                href="https://github.com/DimkaLys"
                target="_blank"
                rel="noopener noreferrer"
              >
                Developer
                <svg class="modal-team__git-link" width="17" height="17">
                  <use href="./images/icons/icons-sprite.svg#git"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="modal-team__card grid__item">
            <img
              class="modal-team__img"
              src="./images/team-images/Nastia.jpg"
              alt=""
              width="150"
              height="150"
            />
            <div class="modal-team__about">
              <h3 class="modal-team__name">Anastasia <span>Romanova</span></h3>
              <a
                aria-label="github"
                class="modal-team__position"
                href="https://github.com/Nor10ava"
                target="_blank"
                rel="noopener noreferrer"
              >
                Developer
                <svg class="modal-team__git-link" width="17" height="17">
                  <use href="./images/icons/icons-sprite.svg#git"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="modal-team__card grid__item">
            <img
              class="modal-team__img"
              src="./images/team-images/Serhii.jpg"
              alt=""
              width="150"
              height="150"
            />
            <div class="modal-team__about">
              <h3 class="modal-team__name">Serhii <span>Tsytsora</span></h3>
              <a
                aria-label="github"
                class="modal-team__position"
                href="https://github.com/Dj-Plagman"
                target="_blank"
                rel="noopener noreferrer"
              >
                Developer
                <svg class="modal-team__git-link" width="17" height="17">
                  <use href="./images/icons/icons-sprite.svg#git"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="modal-team__card grid__item">
            <img
              class="modal-team__img"
              src="./images/team-images/Tania.jpg"
              alt=""
              width="150"
              height="150"
            />
            <div class="modal-team__about">
              <h3 class="modal-team__name">Tetiana <span>Yanishevska</span></h3>
              <a
                aria-label="github"
                class="modal-team__position"
                href="https://github.com/yanishevska"
                target="_blank"
                rel="noopener noreferrer"
              >
                Developer
                <svg class="modal-team__git-link" width="17" height="17">
                  <use href="./images/icons/icons-sprite.svg#git"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
