<div class="backdrop is-hidden">
	<div class="modal">
		<button class="close-button js-close-btn" type="button">
			<svg>
				<use href="./images/icons/icons-sprite.svg#close-modal"></use>
			</svg>
		</button>

		<div class="modal__main-container">
    <!-- //render -->
    </div>

	</div>
</div>

<!-- 

<div class="modal__lightbox">
  <div class="modal__backdrop">
    <div class="modal">
      <button class="modal__btn-close" data-action="close-lightbox"></button>

      <div class="modal__circle-box">
        <picture>
          <img class="modal__img-circle" src="" alt="" />
        </picture>
      </div>

      <div class="modal__card">
        <picture class="modal__img-big">
          <img class="modal__img-author" src="" alt="" width="233" height="416" />
        </picture>

        <div class="modal__about">
          <div class="modal__text-box">
            <h2 class="modal__title">INFO</h2>
            <p class="modal__text">
              Atlas Weekend is the largest music festival in Ukraine. More than 200 artists will
              create a proper music festival atmosphere on 10 stages
            </p>
          </div>

          <div class="modal__text-box">
            <h2 class="modal__title">WHEN</h2>
            <p class="modal__text modal__text--padding">2021-06-09</p>
            <p class="modal__text">20:00 (Kyiv/Ukraine)</p>
          </div>

          <div class="modal__text-box">
            <h2 class="modal__title">WHERE</h2>
            <p class="modal__text modal__text--padding">Kyiv, Ukraine</p>
            <p class="modal__text">VDNH</p>
          </div>

          <div class="modal__text-box">
            <h2 class="modal__title">WHO</h2>
            <p class="modal__text">The Black Eyed Peas</p>
          </div>

          <h2 class="modal__title">PRICES</h2>
          <p class="modal__text">
            <svg class="modal__svg-barcode" width="24" height="16">
              <use href=""></use>
            </svg>
            Standart 300-500 UAH
          </p>

          <a href="" target="_blank">
            <button class="modal__btn-buy" type="button">BUY TICKETS</button>
          </a>

          <p class="modal__text">
            <svg class="modal__svg-barcode" width="24" height="16">
              <use href=""></use>
            </svg>
            VIP 1000-1500 UAH
          </p>

          <a href="" target="_blank">
            <button class="modal__btn-buy" type="button">BUY TICKETS</button>
          </a>
        </div>
      </div>

      <button class="modal__btn-more" type="button">MORE FROM THIS AUTHOR</button>
    </div>
  </div>
</div> -->
