.hero {
  min-height: 364px;
  max-width: 100%;
  background-image: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, rgba(14, 14, 14, 0.8) 100%),
    linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
    url(../images/mobile/bg_mobile.jpg);

  background-repeat: no-repeat;
  background-size: 100vw 102px, cover, cover;
  background-position: bottom, center, center;

  // @media screen and (min-device-pixel-ratio: 1),
  //   screen and (min-resolution: 96dpi),
  //   screen and (min-resolution: 1dppx) {
  //   background-image: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, rgba(14, 14, 14, 0.8) 100%),
  //     linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
  //     url(../images/mobile/bg_mobile.jpg);
  // }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, rgba(14, 14, 14, 0.8) 100%),
      linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url(../images/mobile/bg_mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    // background-size: cover, 100vw 102px, cover, cover;
    // background-position: center, bottom, center, center;

    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, rgba(14, 14, 14, 0.8) 100%),
      linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url(../images/tablet/bg_tablet.jpg);

    // @media screen and (min-device-pixel-ratio: 1),
    //   screen and (min-resolution: 96dpi),
    //   screen and (min-resolution: 1dppx) {
    //   background-image: url(),
    //     linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, rgba(14, 14, 14, 0.8) 100%),
    //     linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
    //     url(../images/tablet/bg_tablet.jpg);
    // }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, rgba(14, 14, 14, 0.8) 100%),
        linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
        url(../images/tablet/bg_tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    // background-size: cover, 100vw 102px, cover, cover;
    // background-position: center, bottom, center, center;

    min-height: 446px;
    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%),
      linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url(../images/desktop/bg_desktop.jpg);
    // @media screen and (min-device-pixel-ratio: 1),
    //   screen and (min-resolution: 96dpi),
    //   screen and (min-resolution: 1dppx) {
    //   background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%),
    //     linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
    //     url(../images/desktop/bg_desktop.jpg);
    // }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          rgba(13, 13, 13, 0.19) 0%,
          rgba(14, 14, 14, 0.8) 100%
        ),
        linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
        url(../images/desktop/bg_desktop@2x.jpg);
    }
  }
}

// .hero__title {
//   margin-left: auto;
//   margin-right: auto;
//   padding-top: 78px;
//   font-weight: 900;
//   font-size: 18px;
//   line-height: 1.22;
//   letter-spacing: 0em;
//   text-transform: uppercase;
//   text-align: center;
//   color: var(--pink-color);

//   @media screen and (min-width: 768px) {
//     padding-top: 40px;
//     font-size: 30px;
//   }

//   @media screen and (min-width: 1280px) {
//     font-size: 50px;
//   }
// }

.hero__title--part {
  display: block;
}
