.modal-open {
  overflow: hidden;
  opacity: 1;
  pointer-events: initial;
}

.modal-team__backdrop.is-close {
  opacity: 0;
  visibility: hidden;
}

.is-close .modal {
  transform: translate(100%, 100%) scale(0.2);
}

.grid {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -20px;

  &__item {
    margin-top: 20px;
    margin-left: 20px;
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 20px * var(--grid-item)) / var(--grid-item));

      --grid-item: 3;
    }
    @media screen and (min-width: 1280px) {
      --grid-item: 5;
    }
  }
}

.modal-team {
  top: 0;
  margin: auto;
  @media screen and (min-width: 768px) {
    width: 595px;
    border-radius: 240px 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 1000px;
    height: 706px;
    border-radius: 232px 0px;
  }

  &__name {
    text-align: center;
    font-size: 16px;
    color: var(--pink-color);
    padding-bottom: 5px;
    letter-spacing: 1px;

    & span {
      display: block;
    }
  }

  &__position {
    font-size: 15px;
    font-weight: 500;
    color: black;
    padding-top: 5px;

    &:hover,
    &:focus {
      fill: var(--btn-color);
    }
  }

  &__title {
    font-weight: 900;
    font-size: 27px;

    text-transform: uppercase;
    color: var(--btn-color);
    text-shadow: 1px 1px 3px #686167;
    padding-top: 20px;
    padding-bottom: 34px;

    @media screen and (min-width: 768px) {
      font-size: 33px;
    }
  }
  &__container {
    padding: 23px 20px 0px 43px;
  }
  &__about {
    padding-top: 22px;
    padding-bottom: 5px;
  }

  &__img {
    width: 100%;
    height: 160px;
    background-size: cover;
    border-radius: 34px 0px;
    border: 1px solid var(--black-color);

    @media screen and (min-width: 1280px) {
      width: 180px;
      border-radius: 68px 0px;
    }
  }
  &__card {
    width: 158px;
    height: 258px;
    border-radius: 200px 0px 0px;

    &:hover,
    &:focus {
      box-shadow: 0px 12px 20px rgb(10 10 10);
    }
  }
}
