//======================= BACKDROP ======================
.backdrop,
.modal-team__backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  z-index: 1200;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 1;
  overflow: hidden;
  overflow-y: scroll;

  transition: opacity 500ms ease-out 200ms;

  background-color: var(--backdrop-color);
  backdrop-filter: blur(3px);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.is-open {
  overflow: hidden;
  opacity: 1;
  pointer-events: initial;
}

//======================= MODAL ======================
.modal {
  position: absolute;
  z-index: 1500;

  width: 272px;
  top: 4%;

  text-align: center;

  border-radius: 142px 0px;
  background-color: var(--modal-bg-color);
  transition: transform 600ms ease-out 500ms;

  @media screen and (min-width: 768px) {
    top: 23%;
    width: 595px;
    border-radius: 282px 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 930px;
    border-radius: 255px 0px;
    // margin-top: 200px;
    top: 6%;
  }

  .is-hidden & {
    transform: translate(100%, 100%) scale(0.2);
  }

  &__card {
    @media screen and (min-width: 768px) {
      display: flex;
      text-align: initial;
    }
    @media screen and (min-width: 768px) and (max-width: 1279.99px) {
      width: 595px;
    }
    @media screen and (min-width: 1280px) {
      width: 930px;
    }
  }

  &__main-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    z-index: 2000;
    margin: 75px 15px 104px;

    @media screen and (min-width: 768px) {
      margin: 28px 34px 56px;
    }

    @media screen and (min-width: 1280px) {
      margin: 62px 30px;
    }
  }
}
