{{#each this}}
  <li class='main-item'>
    <img class='main-poster' src='{{images.2.url}}' alt='' />
    <h2 class='main-name'>{{name}}</h2>
    <p class='main-date'> {{dates.start.localDate}}</p>
    <p class='main-location'>{{_embedded.venues.0.name}}</p>
  </li>
{{/each}}
